# fly.toml app configuration file generated for tiktokdownloader

app = "ttkddownbyadeilton" # <--- IMPORTANTE: Coloque o nome do seu app aqui!
primary_region = "gru" # "gru" é São Paulo.

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
